@import url('https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900');

body {
/* display: flex;
justify-content: center;
align-items: center; */
min-height: 100vh;
background-color: #141E30;
background: linear-gradient(to right, #24243e, #141E30, #0f0c29); }

h2 {
/* margin-top: -1.15em; */
font-family: 'Pirata One', cursive;
font-size: 3rem;
color: #F7971E;
text-align: center;}

h2 spam {
  font-size: .8em; 
}